<div class="signup-card">
  <div class="card-title">
      <h1>Create Account</h1>
  </div>
  <form class="form-group" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <ion-input label="firstname" formControlName="firstname" label-placement="floating" fill="outline" placeholder=""></ion-input>
    <ion-input label="lastname" formControlName="lastname" label-placement="floating" fill="outline" placeholder=""></ion-input>
    <ion-input label="username" formControlName="username" label-placement="floating" fill="outline" placeholder=""></ion-input>
    <ion-input label="email" formControlName="email" label-placement="floating" fill="outline" placeholder=""></ion-input>
    <ion-input label="password" formControlName="password" label-placement="floating" fill="outline" placeholder="" type="password"></ion-input>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>    
    <ion-modal [keepContentsMounted]="true">
    <ng-template >
        <ion-datetime presentation="date" formControlName="birthdate" id="datetime"></ion-datetime>
    </ng-template>
    </ion-modal>
    <ion-checkbox>I have read and agree to the <a href="" >terms and conditions</a></ion-checkbox>
    <ion-button type="submit" expand="block">Signup</ion-button>
  </form>
  <span>Already have an account? <a routerLink="/login">Sign In</a></span>
</div>
